@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main_title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.see_boss_ratings{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.card_container{
    width: 300px;
    height: 430px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
}

.card_containerone{
    width: 300px;
    height: 430px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
}

.card_containertwo{
    width: 300px;
    height: 430px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 60%;
    left: 85%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
}

.upper_container{
    height: 150px;
    background: #7F00FF;
}

.lower_container{
    height: 280px;
    background: #ffffff;
}

.image_container img{
    background: #ffffff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px, 100px);
}